<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILavadoraService" />
                <binding name="BasicHttpBinding_ILavadoraService1" />
                <binding name="BasicHttpBinding_ILavadoraService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53640/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILavadoraService1"
                contract="ServiceReference1.ILavadoraService" name="BasicHttpBinding_ILavadoraService1" />
            <endpoint address="http://localhost:53640/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILavadoraService2"
                contract="ServiceReference2.ILavadoraService" name="BasicHttpBinding_ILavadoraService2" />
            <endpoint address="http://localhost:53640/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILavadoraService" contract="LavadoraService.ILavadoraService"
                name="BasicHttpBinding_ILavadoraService" />
        </client>
    </system.serviceModel>
</configuration>